:root {
    --primary-color: #007AF3;
    // --bg-color: linear-gradient(45deg, #070424, #010032, #07063d);
    --bg-color: #141414;
    --thought: 3em;
    --intro: 1.7em;
    --profession: 1.1em;
    --bg-image: url("../assets/Images/4844626.png");
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

* {
    font-family: sans-serif;
}

.intro-myself {
    .title {
        font-family: Montserrat;
    }

    .sub-title {
        color: #494949b8;
    }


}

section.about-info {
    background-color: white;
    width: 100vw;
    height: 100vh;

    .intro-myself,
    .passions,
    .skills {
        background-color: rgba($color: #ECECEC, $alpha: 0.57);
    }
}

.back {
    z-index: 700;
    cursor: pointer;
}

button {
    background: #0000CC;
    color: white;
    width: 9em;
    height: 3em;
    border-color: transparent;
    border-radius: 40px;
    font-size: .9rem;
    cursor: pointer;

    &:hover {
        position: relative;
        scale: 1.02;
    }
}

@media screen and (max-width: 768px) {
    section {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 1.1fr 6.5fr .3fr 2.87fr 1fr;
        grid-template-columns: 1.2fr 2.5fr 4.35fr 1.2fr;

        .navbar {
            display: grid;
            grid-row: 1/2;
            grid-column: 1/5;

            grid-template-rows: 1fr;
            grid-template-columns: 1.2fr 2.5fr 4.35fr 1.2fr;

            .logo {
                grid-row: 1/2;
                grid-column: 2/4;
                display: flex;
                width: 60%;
                letter-spacing: 2px;
                text-align: center;
                align-items: center;
                // justify-content: center;               
            }

            nav {
                grid-row: 1/2;
                grid-column: 3/4;
                display: flex;
                justify-content: end;
                justify-self: flex-end;
                align-items: center;
                position: relative;

                .hamburger {
                    position: absolute;
                    right: 0em;
                    // z-index: 3000;
                    scale: 1;
                    background-color: transparent;

                }
            }
        }

        .contents {
            display: grid;
            grid-row: 2/3;
            grid-column: 2/4;
            justify-content: center;
            text-align: center;
            align-content: space-around;

            grid-template-rows: 1.5fr 3fr 2fr;

            .profession {
                grid-row: 2/3;
                line-height: 20px;
                margin-bottom: 3em;
            }

            .thought {
                grid-row: 2/3;
                letter-spacing: -.8px;
            }

            .back {
                display: flex;
                justify-content: flex-start;
                width: 1em;
                margin-top: 1.5em;
                height: 1em;
                justify-items: flex-start;
            }
        }

        .clouds {

            grid-row: 2/3;
            grid-column: 1/7;
            opacity: 0.5;
            // padding-top: 1em;
        }

        .message {
            grid-row: 6/7;
            display: flex;
            justify-content: end;
            grid-column: 3/4;
            margin: 0 auto;
            position: relative;

            img {
                position: absolute;
                top: -5em;
                right: -9em;
                scale: 0.7;
            }
        }

        .scroll {
            grid-row: 5/7;
            display: flex;
            align-items: flex-end;
            // margin-top: 45%;
            z-index: 100;
            grid-column: 2/3;
            position: relative;

            .scroll-black {
                position: absolute;
                bottom: 1em;
            }

            img.scroll-img {
                display: none;
            }
        }

        .page-indi {
            grid-row: 5/6;
            grid-column: 2/4;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 8em;
            }
        }
    }

    .about {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 1fr .77fr 1.77fr 2.23fr 5.15fr 1fr;
        grid-template-columns: 1fr 8.3fr 1fr;

        .contents {
            grid-row: 2/5;
            grid-column: 2/3;
            display: grid;
            grid-template-rows: repeat(3, 1fr);

            .thought {
                grid-row: 2/3;
                letter-spacing: -.8px;
            }

            .profession {
                width: 70%;
                text-align: start;
                grid-row: 3/4;
                line-height: 1.5em;
                margin-bottom: 3em;
            }


        }

        .about-me {
            grid-row: 3/7;
            grid-column: 1/4;
            background-color: rgb(255, 255, 255);
            clip-path: polygon(100% 15%, 100% 60%, 25% 100%, 0% 100%, 0% 70%);
            display: flex;
            justify-content: end;
            align-items: center;
            background-blend-mode: overlay;
            position: relative;

            .about-illus {
                // display: none;
                width: clamp(15em, 65%, 20em);
                position: absolute;
                bottom: 0;
                right: 0em;
                mix-blend-mode: luminosity;
                opacity: 0.9;
            }
        }

        .message {
            display: grid;
            grid-row: 6/7;
            grid-column: 2/3;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            position: relative;

            img {
                position: absolute;
                top: 10em;
                right: 0em;
            }
        }

        .page-indi {
            z-index: 0;
            align-items: center;
            display: flex;
            justify-content: center;
            grid-row: 6/7;
            grid-column: 2/3;

            img {
                width: 30%;
            }
        }
    }

    .page-indi {
        z-index: 0;
        align-items: center;
        display: flex;
        justify-content: center;

        img {
            width: 8em;
        }
    }


    nav {
        position: relative;
    }

    .illustrations {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .animate-lines {
        display: none;
    }

    .nav-links {
        position: fixed;
        background: white;
        height: 100vh;
        width: 100%;
        display: flex;
        top: -.1em;
        left: -.1em;
        align-items: center;
        margin: auto;
        text-align: center;
        flex-direction: column;
        clip-path: circle(0px at 105% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(150% at 90% -10%);
        -webkit-clip-path: circle(150% at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        // z-index: 100;
        opacity: 0;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        margin: auto;
    }

    .nav-links li a {
        display: fixed;
        color: black;
        font-size: 25px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease-in-out 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    li.fade {
        opacity: 1;
    }

    button {
        font-size: .8em;
        width: 19em;
    }

    section.about-info {
        height: 425vh;
        grid-template-rows: 10vh 7.5fr 10vh 7.5fr 10vh 3fr 10vh 5fr;
        grid-template-columns: 7vh 14fr 7vh;

        .intro-myself {
            grid-row: 2/3;
            grid-column: 2/3;
            display: grid;
            height: 90vh;
            grid-template-rows: 1fr .7fr .9fr 7.85fr 2fr 1fr;
            grid-template-columns: 1fr 8fr 1fr;

            .title {
                font-size: 1.6em;
                letter-spacing: 3px;
                grid-row: 2/3;
                grid-column: 2/3;
            }

            .sub-title {
                display: flex;
                align-items: center;
                grid-row: 3/4;
                grid-column: 2/3;

            }

            .desc {
                grid-row: 4/5;
                grid-column: 2/3;
                height: 100%;
                display: flex;
                align-items: center;
                line-height: 30px;
                letter-spacing: 1.5px;
                word-spacing: 2px;
                font-size: .75em;
                text-align: justify;
            }

            .resume-down {
                grid-row: 5/6;
                grid-column: 2/3;
                display: flex;
                justify-content: center;
                align-items: center;


            }



            .illus {
                display: none;
            }

        }

        .passions {
            height: 135vh;
            grid-row: 4/5;
            grid-column: 2/3;
            display: grid;
            grid-template-rows: .6fr 6fr .5fr;
            grid-template-columns: 1fr 8fr 1fr;
            position: relative;
            align-items: center;
            justify-content: center;

            .title {
                grid-row: 1/2;
                grid-column: 2/3;
                font-size: 1.6em;
                letter-spacing: 3px;
                display: flex;
                align-items: center;
            }

            .passion-list {
                // position: absolute;
                grid-row: 2/3;
                grid-column: 2/3;
                display: flex;
                flex-direction: column;
                // grid-template-columns: 1fr;
                // grid-template-rows: repeat(4, 1fr);
                justify-content: space-evenly;
                height: 100%;
                align-items: flex-start;

                .passion {
                    grid-row: auto;
                    display: flex;
                    // height: 70%;
                    flex-direction: column;
                    align-items: center;

                    .descrp {
                        padding-top: 1.5em;
                        text-align: justify;
                        line-height: 1.8em;
                        letter-spacing: 1px;
                        font-size: .75em;

                        div {
                            margin-top: 1em;
                        }

                    }

                    .icon {
                        img {
                            width: 2.5em;
                        }
                    }
                }
            }
        }

        span {
            color: #676767;
        }

        .skills {
            padding-top: 3em;
            height: 60em;
            grid-row: 6/7;
            grid-column: 2/3;
            display: grid;
            grid-template-rows: 1fr 4fr 4fr 1fr;
            grid-template-columns: 1fr 8.8fr 1fr;

            .content {
                grid-row: 2/3;
                grid-column: 2/3;
                display: grid;
                grid-template-rows: 1fr 5fr 1fr;
                grid-template-columns: 1fr;

                .title {
                    grid-row: 1/2;
                    grid-column: 2/3;
                    font-size: 1.6em;
                    letter-spacing: 3px;
                }

                .desc {
                    grid-row: 2/3;
                    grid-column: 2/3;
                    // width: 90%;
                    font-size: .75em;

                    text-align: justify;
                    line-height: 2.5em;
                    letter-spacing: 1px;
                }

                .explore-projects {
                    grid-row: 2/3;
                    grid-column: 2/3;
                    display: flex;
                    margin-top: 14em;
                    align-items: center;
                    justify-content: center;


                }
            }

            .tech-stack {
                grid-row: 3/4;
                grid-column: 2/3;
                display: grid;
                grid-template-rows: 1.2fr 6fr 1fr;
                grid-template-columns: 1fr;
                position: relative;
                height: 30em;

                .title {
                    grid-row: 1/2;
                    grid-column: 1/2;
                    font-size: 1.5em;
                    color: rgba(0, 0, 0, 0.639);
                    letter-spacing: 3px;
                }

                .sub-title {
                    display: flex;
                    padding-top: 2em;
                    align-items: center;
                    grid-row: 1/2;
                    grid-column: 1/2;
                    font-size: 1.2;
                    color: rgba(0, 0, 0, 0.435);
                }

                .icons {
                    grid-row: 2/3;
                    grid-column: 1/2;
                    display: grid;
                    grid-template-rows: repeat(6, 1fr);
                    grid-template-columns: 1fr;
                    padding-top: 1em;

                    .indi-icons {
                        max-width: 27em;
                        min-width: 20em;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: rgba($color: #e6e6e6, $alpha: 0.57);
                        margin: .2em 0;
                        justify-self: center;

                        .icon-list {
                            display: flex;
                            width: 60%;
                            justify-content: space-evenly;

                            img {
                                scale: .8;
                            }
                        }

                        .timeline {
                            padding-right: 2em;
                            font-size: .9em;
                        }
                    }
                }
            }
        }

        .end {
            grid-row: 8/9;
            grid-column: 1/4;
            height: 100%;
            background-color: var(--bg-color);
            color: white;
            display: grid;
            grid-template-rows: 1fr 5fr 1fr;
            grid-template-columns: 1fr 5fr 1fr;

            .contact-info {
                grid-row: 2/3;
                grid-column: 2/3;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                justify-items: center;
                align-items: center;

                a {
                    color: white;
                    list-style: none;
                    border: none;
                }

                .mail,
                .icon-link,
                .phno {
                    display: flex;
                    width: 90%;
                    justify-content: space-around;
                    align-items: center;
                    font-size: .85em;
                    letter-spacing: 2px;
                }

                .icon-link {
                    display: flex;
                    justify-content: space-between;
                    width: 100%; // scale: .8;

                    img {
                        margin-top: 1em;
                        width: 2.5em;
                    }
                }

                .mail,
                .phno {
                    img {
                        width: 1.6em;
                    }
                }
            }
        }
    }


}

@media only screen and (min-width: 768px) {
    section {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 1.3fr 6.5fr .6fr 3fr 1fr;
        grid-template-columns: 1.2fr 2.5fr 4.35fr 1.2fr;

        .navbar {
            display: grid;
            grid-row: 1/2;
            grid-column: 2/6;
            position: fixed;
            z-index: 2000;
            background-color: var(--bg-color);
            width: 100%;
            height: 10vh;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 2.9fr 7fr 10.3fr 1fr;

            .logo {
                z-index: 2001;
                grid-row: 1/2;
                grid-column: 2/4;
                display: flex;
                width: 100%;
                letter-spacing: 4px;
                text-align: left;
                align-items: center;
                // justify-content: center;               
            }

            nav {
                grid-row: 1/2;
                grid-column: 4/5;
                display: flex;
                align-content: center;
                width: 55%;
                margin-left: 45%;

                .nav-links {
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    align-items: center;
                    // padding-top: 2em;

                }

                .hamburger {
                    display: none;
                }
            }
        }

        .contents {
            padding-top: 3em;
            display: grid;
            grid-row: 2/4;
            grid-column: 2/4;
            justify-content: center;
            text-align: center;
            align-content: space-around;

            .back {
                grid-row: 1/2;
                grid-column: 1/2;
                display: flex;
                justify-content: flex-start;
                width: 1em;
                margin-top: 0em;
                height: 1em;
                justify-items: flex-start;
            }

        }

        .message {
            grid-row: 6/7;
            display: flex;
            justify-content: start;
            grid-column: 4/5;
            align-items: center;
            position: relative;

            img {
                position: absolute;
                top: -5em;
                scale: 0.7;
            }
        }

        .clouds {
            grid-row: 2/3;
            grid-column: 1/7;
            opacity: 0.5;

        }

        .scroll {
            grid-row: 5/6;
            grid-column: 2/3;
            display: flex;
            align-items: flex-end;

            .scroll-black {
                display: none;
            }

            img.scroll-img {
                display: block;
            }
        }

        .page-indi {
            grid-row: 5/6;
            grid-column: 2/4;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 1em;

            img {
                width: 8em;
            }
        }

        .illustrations {
            display: none;
        }

        .nav-links li:nth-child(3) {
            a {
                color: white;
            }
        }
    }

    button {
        width: 19em;
    }

    .about {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 1fr .77fr 1.77fr 2.23fr 5.15fr 1fr;
        grid-template-columns: 1fr 8.3fr 1fr;

        .about {
            display: grid;
            grid-template-rows: 1fr .77fr 1.77fr 2.23fr 5.15fr 1fr;
            grid-template-columns: 8vw 8.3fr 1fr;

            .contents {
                grid-row: 3/6;
                grid-column: 2/3;
                z-index: 20;
                margin: 0;
                display: grid;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(2, 1fr);

                .thought {
                    grid-row: 1/2;
                    grid-column: 1/2;
                    display: flex;
                    align-items: center;
                    justify-self: start;
                }

                .animate-lines {
                    grid-row: 1/3;
                    grid-column: 1/2;
                    align-self: center;
                    justify-self: flex-start;
                }

                .profession {
                    grid-row: 2/3;
                    grid-column: 1/2;
                    display: flex;
                    width: 100%;
                    display: none;
                    line-height: 2em;
                    justify-self: start;
                    align-items: center;
                }
            }

            .about-me {
                z-index: 10;
                grid-row: 1/7;
                grid-column: 1/4;
                background-color: rgb(255, 255, 255);
                clip-path: polygon(100% 0%, 100% 45%, 70% 100%, 18% 100%, 80% 0%);
                display: flex;
                justify-content: end;
                align-items: center;
                background-blend-mode: overlay;
                position: relative;

                .about-illus {
                    // display: none;
                    width: clamp(20em, 50%, 22em);
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    mix-blend-mode: luminosity;
                    opacity: 0.9;
                }
            }

            .message {
                display: grid;
                grid-row: 6/7;
                grid-column: 2/3;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                position: relative;

                img {
                    position: absolute;
                    top: 0em;
                    left: 10em;
                }
            }

        }

        .about-me {
            z-index: 10;
            grid-row: 1/7;
            grid-column: 1/4;
            background-color: rgb(255, 255, 255);
            clip-path: polygon(100% 0%, 100% 45%, 70% 100%, 18% 100%, 80% 0%);
            display: flex;
            justify-content: end;
            align-items: center;
            background-blend-mode: overlay;
            position: relative;

            .about-illus {
                // display: none;
                width: clamp(15em, 60%, 22em);
                position: absolute;
                bottom: 0;
                right: 10%;
                mix-blend-mode: luminosity;
                opacity: 0.9;
            }
        }

        .message {
            display: grid;
            grid-row: 6/7;
            grid-column: 2/3;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            position: relative;

            img {
                position: absolute;
                top: 0em;
                left: 10em;
            }
        }

        .page-indi {
            z-index: 0;
            align-items: center;
            display: flex;
            justify-content: center;
            grid-row: 6/7;
            grid-column: 2/3;

            img {
                width: 30%;
            }
        }
    }

    .animate-lines {
        img {
            width: 10em;
        }
    }

    section.about-info {
        height: 375vh;
        grid-template-rows: 10vh 7.5fr 10vh 7.5fr 10vh 3fr 10vh 5fr;
        grid-template-columns: 10vh 14fr 10vh;

        .intro-myself {
            grid-row: 2/3;
            grid-column: 2/3;
            display: grid;
            height: 75vh;
            grid-template-rows: 1fr .7fr .9fr 7.85fr 2fr 1fr;
            grid-template-columns: 1fr 8fr 1fr;

            .title {
                font-size: 1.6em;
                letter-spacing: 3px;
                grid-row: 2/3;
                grid-column: 2/3;
            }

            .sub-title {
                display: flex;
                align-items: center;
                grid-row: 3/4;
                grid-column: 2/3;

            }

            .desc {
                grid-row: 4/5;
                grid-column: 2/3;
                height: 100%;
                display: flex;
                align-items: center;
                line-height: 30px;
                letter-spacing: 1.5px;
                word-spacing: 2px;
                font-size: .75em;
                text-align: justify;
            }

            .resume-down {
                grid-row: 5/6;
                grid-column: 2/3;
                display: flex;
                justify-content: center;
                align-items: center;

            }



            .illus {
                display: none;
            }

        }

        .passions {
            height: 110vh;
            grid-row: 4/5;
            grid-column: 2/3;
            display: grid;
            grid-template-rows: .6fr 6fr .5fr;
            grid-template-columns: 1fr 8fr 1fr;
            position: relative;
            align-items: center;
            justify-content: center;

            .title {
                grid-row: 1/2;
                grid-column: 2/3;
                font-size: 1.6em;
                letter-spacing: 3px;
                display: flex;
                align-items: center;
            }

            .passion-list {
                // position: absolute;
                grid-row: 2/3;
                grid-column: 2/3;
                display: flex;
                flex-direction: column;
                // grid-template-columns: 1fr;
                // grid-template-rows: repeat(4, 1fr);
                justify-content: space-evenly;
                height: 100%;
                align-items: flex-start;

                .passion {
                    grid-row: auto;
                    display: flex;
                    // height: 70%;
                    flex-direction: column;
                    align-items: center;

                    .descrp {
                        padding-top: 1.5em;
                        text-align: justify;
                        line-height: 1.8em;
                        letter-spacing: 1px;
                        font-size: .75em;

                        div {
                            margin-top: 1em;
                        }

                    }

                    .icon {
                        img {
                            width: 2.5em;
                        }
                    }
                }
            }
        }

        span {
            color: #676767;
        }

        .skills {
            padding-top: 3em;
            height: 55em;
            grid-row: 6/7;
            grid-column: 2/3;
            display: grid;
            grid-template-rows: 1fr 3fr 3fr 1fr;
            grid-template-columns: 1fr 8.8fr 1fr;

            .content {
                grid-row: 2/3;
                grid-column: 2/3;
                display: grid;
                grid-template-rows: 1fr 7fr 1fr;
                grid-template-columns: 1fr;
                height: 17em;

                .title {
                    grid-row: 1/2;
                    grid-column: 2/3;
                    font-size: 1.6em;
                    letter-spacing: 3px;
                    height: 2em;

                }

                .desc {
                    grid-row: 2/3;
                    grid-column: 2/3;
                    // width: 90%;
                    font-size: .75em;

                    text-align: justify;
                    line-height: 2.5em;
                    letter-spacing: 1px;
                }

                .explore-projects {
                    grid-row: 2/3;
                    grid-column: 2/3;
                    display: flex;
                    margin-top: 0em;
                    align-items: flex-end;
                    justify-content: center;

                }
            }

            .tech-stack {
                grid-row: 3/4;
                grid-column: 2/3;
                display: grid;
                grid-template-rows: 1.2fr 6fr 1fr;
                grid-template-columns: 1fr;
                position: relative;
                height: 30em;

                .title {
                    grid-row: 1/2;
                    grid-column: 1/2;
                    font-size: 1.5em;
                    color: rgba(0, 0, 0, 0.639);
                    letter-spacing: 3px;
                }

                .sub-title {
                    display: flex;
                    padding-top: 1em;
                    align-items: center;
                    grid-row: 1/2;
                    grid-column: 1/2;
                    margin-top: .7em;
                    font-size: .9em;
                    color: rgba(0, 0, 0, 0.435);
                }

                .icons {
                    padding-top: 2em;
                    grid-row: 2/3;
                    grid-column: 1/2;
                    display: grid;
                    width: 60%;
                    justify-self: center;
                    grid-template-rows: repeat(6, 1fr);
                    grid-template-columns: 1fr;

                    .indi-icons {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: rgba($color: #e6e6e6, $alpha: 0.57);
                        margin: .2em 0;


                        .icon-list {
                            display: flex;
                            width: 60%;
                            justify-content: space-evenly;

                            img {
                                scale: .8;
                            }
                        }

                        .timeline {
                            padding-right: 2em;
                            font-size: .9em;
                        }
                    }
                }
            }
        }

        .end {
            grid-row: 8/9;
            background-color: var(--bg-color);
            grid-column: 1/4;
            color: white;
            height: 30vh;
            display: grid;
            grid-template-rows: 1fr 5fr 1fr;
            grid-template-columns: 1fr 14fr 1fr;

            .contact-info {
                grid-row: 2/3;
                grid-column: 2/3;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(2, 1fr);
                justify-items: center;
                align-items: center;

                a {
                    color: white;
                    list-style: none;
                    border: none;
                }

                .mail {
                    grid-row: 1/2;
                    grid-column: 1/2;
                    display: flex;
                    width: 80%;
                    align-items: center;
                    justify-content: space-around;
                }

                .phno {
                    grid-row: 2/3;
                    grid-column: 1/2;
                    display: flex;
                    width: 80%;
                    align-items: center;
                    justify-content: space-around;
                }

                .icon-link {
                    grid-row: 1/3;
                    grid-column: 2/3;
                    display: flex;
                    width: 85%;
                    align-items: center;
                    justify-content: space-between;

                    // scale: .8;
                    img {
                        margin-top: 1em;
                        width: 2.5em;
                    }
                }




            }
        }
    }


}

@media only screen and (min-width: 1050px) {
    section {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 5em 28em 2.3fr 2.3fr 2.5fr 2fr;
        grid-template-columns: 10vw 2.9fr 7.1fr 3.5fr 6.85fr 10vw;

        .navbar {
            display: grid;
            position: fixed;
            grid-row: 1/2;
            grid-column: 2/6;
            background-color: var(--bg-color);
            z-index: 2000;
            grid-template-rows: 1fr;
            grid-template-columns: .8fr 7fr 10.3fr 1fr;
            width: 100%;
            height: 10vh;

            .logo {
                z-index: 2001;
                grid-row: 1/2;
                grid-column: 2/3;
                display: flex;
                width: 100%;
                height: 100%;
                font-size: 1.2rem;
                letter-spacing: 4px;
                text-align: left;
                align-items: center;
                justify-content: start;
            }

            nav {
                grid-row: 1/2;
                grid-column: 3/4;
                display: flex;
                width: 50%;
                margin-left: 50%;

                .nav-links {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }

                .hamburger {
                    display: none;
                }
            }
        }

        .clouds {
            grid-row: 2/3;
            grid-column: 1/7;
            opacity: 0.5;

        }

        .contents {
            padding-top: 0em;
            display: grid;
            grid-row: 2/3;
            height: 100%;
            grid-column: 2/6;
            grid-template-columns: 1fr 6fr 6fr;
            grid-template-rows: .3fr 1.15fr .5fr .65fr .5fr 1.18fr;


            .back {
                grid-row: 1/2;
                grid-column: 1/3;
                // padding: 1em;
                display: flex;
                justify-content: flex-start;
            }

            .thought {
                text-align: left;
                grid-row: 2/3;
                letter-spacing: 2px;
                // grid-column: 1/3;
                align-items: center;
            }

            .animate-lines {
                grid-row: 2/3;
                grid-column: 1/3;
                display: flex;
                align-self: flex-end;
            }

            .profession {
                line-height: 2em;
                grid-row: 4/5;
                grid-column: 1/3;
                text-align: left;
                width: 80%;
                display: flex;
                letter-spacing: 4px;
                align-items: flex-start;
            }

            .illustrations {
                grid-row: 4/7;
                grid-column: 2/4;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;

                .home-illus {
                    display: block;
                    width: clamp(30em, 60%, 35em);
                }
            }
        }

        .message {
            grid-row: 5/5;
            display: flex;
            align-items: center;
            justify-content: start;
            grid-column: 6/7;
            position: relative;

            img {
                position: absolute;
                top: 4em;
                left: -2em;
                scale: 0.7;
            }
        }

        .scroll {
            grid-row: 3/5;
            grid-column: 2/3;
            position: relative;

            .scroll-img {
                position: absolute;
                bottom: 1em;
            }

            .scroll-black {
                display: none;
            }
        }

        .page-indi {
            grid-row: 6/7;
            grid-column: 2/3;
            width: 100%;
            display: flex;
            justify-content: start;
            margin: auto 0;
            // margin-left: auto;
        }

        .nav-links li:nth-child(3) {

            a {
                color: white;
            }
        }
    }

    .page-indi {
        img {
            width: 8em;
        }
    }

    section.about {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 6em 32em 2.3fr 2.3fr 2.5fr 2fr;
        grid-template-columns: 1fr 2.9fr 7.1fr 3.5fr 6.85fr 1fr;

        .contents {
            grid-row: 2/3;
            grid-column: 2/6;

        }

        .message {
            grid-row: 6/7;
            display: flex;
            justify-content: end;
            align-items: center;
            grid-column: 5/6;
            position: relative;
            left: 20em;

            img {
                position: absolute;
                // top: 1em;
                right: -1em;
                scale: 0.7;
            }
        }

        .about-me {
            grid-row: 1/7;
            grid-column: 3/7;
            background-color: rgba(255, 255, 255, 1);
            clip-path: polygon(100% 0%, 100% 45%, 70% 100%, 18% 100%, 80% 0%);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-blend-mode: overlay;

            .about-illus {
                font-size: 1rem;
                display: flex;
                width: clamp(20em, 65%, 22em);
                margin-right: 7rem;
                align-items: center;
                justify-self: center;
                mix-blend-mode: luminosity;
                opacity: 0.9;
            }
        }

        .page-indi {
            grid-row: 6/7;
            grid-column: 2/3;

            img {
                width: 8em;
            }
        }

    }

    section.about-info {
        height: 310vh;
        width: 100vw;
        grid-template-rows: 10vh 7.5fr 10vh 6fr 10vh 7.5fr 10vh 5fr;
        grid-template-columns: 1fr 14fr 1fr;

        .intro-myself {
            grid-row: 2/3;
            grid-column: 2/3;
            display: grid;
            height: 80vh;
            grid-template-rows: 1fr .7fr .9fr 7.85fr 2fr 1fr;
            grid-template-columns: 1fr 50% 40% 1fr;

            .title {
                font-size: 2em;
                letter-spacing: 3px;
                grid-row: 2/3;
                grid-column: 2/3;
            }

            .sub-title {
                display: flex;
                align-items: flex-end;
                grid-row: 3/4;
                grid-column: 2/3;

            }

            .desc {
                grid-row: 4/5;
                grid-column: 2/3;
                height: 100%;
                width: 95%;
                display: flex;
                align-items: center;
                line-height: 30px;
                letter-spacing: 1.5px;
                word-spacing: 2px;
                font-size: .8em;
                text-align: justify;
            }

            .resume-down {
                grid-row: 5/6;
                grid-column: 2/3;
                display: flex;
                justify-content: start;
                align-items: center;
                justify-items: flex-start;


            }

            .illus {
                grid-row: 2/6;
                grid-column: 3/4;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    // display: none;
                    height: clamp(15vh, 95%, 75vh);
                    // height: auto;
                }
            }

        }

        .passions {
            height: 70vh;
            grid-row: 4/5;
            grid-column: 2/3;
            display: grid;
            grid-template-rows: .7fr 1.1fr 6fr .7fr;
            grid-template-columns: 1fr 8.8fr 8fr 1fr;
            position: relative;

            .title {
                grid-row: 2/3;
                grid-column: 2/3;
                font-size: 2em;
                letter-spacing: 3px;
                display: flex;
                align-items: center;
            }

            .passion-list {
                position: absolute;
                top: -1em;
                grid-row: 3/4;
                grid-column: 2/4;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;
                align-items: center;

                .passion {
                    grid-row: auto;
                    width: 80%;
                    display: flex;
                    height: 70%;
                    flex-direction: column;
                    align-items: center;

                    .descrp {
                        padding-top: 1.5em;
                        text-align: justify;
                        line-height: 1.8em;
                        letter-spacing: 1px;
                        font-size: .8em;

                        div {
                            margin-top: 1em;
                        }

                    }

                    .icon {
                        img {
                            width: 3em;
                        }
                    }
                }
            }
        }

        span {
            color: #676767;
        }

        .skills {
            height: 40em;
            grid-row: 6/7;
            grid-column: 2/3;
            display: grid;
            grid-template-rows: 4fr 3fr 4fr;
            grid-template-columns: 1fr 8.8fr 8fr 1fr;
            padding-top: 2em;

            .content {
                grid-row: 2/3;
                grid-column: 2/3;
                display: grid;
                grid-template-rows: 1fr 5fr 1fr;
                grid-template-columns: 1fr;

                .title {
                    grid-row: 1/2;
                    grid-column: 2/3;
                    font-size: 2em;
                    letter-spacing: 3px;
                }

                .desc {
                    grid-row: 2/3;
                    grid-column: 2/3;
                    width: 90%;
                    text-align: justify;
                    line-height: 2.5em;
                    letter-spacing: 1px;
                    font-size: .8em;
                }

                .explore-projects {
                    grid-row: 3/4;
                    grid-column: 2/3;
                    display: flex;
                    padding-top: 2em;
                    justify-content: start;

                }
            }

            .tech-stack {
                grid-row: 2/3;
                grid-column: 3/4;
                display: grid;
                grid-template-rows: 1.2fr 6fr;
                grid-template-columns: 1fr;
                position: relative;

                .title {
                    grid-row: 1/2;
                    grid-column: 1/2;
                    font-size: 1.5em;
                    color: rgba(0, 0, 0, 0.639);
                    letter-spacing: 3px;
                }

                .sub-title {
                    display: flex;
                    padding-top: 2em;
                    align-items: center;
                    grid-row: 1/2;
                    grid-column: 1/2;
                    font-size: 1.2;
                    color: rgba(0, 0, 0, 0.435);
                }

                .icons {
                    grid-row: 2/3;
                    grid-column: 1/2;
                    display: grid;
                    justify-self: self-start;
                    grid-template-rows: repeat(6, 1fr);
                    grid-template-columns: 1fr;


                    .indi-icons {
                        display: flex;
                        width: 30em;
                        justify-self: flex-start;
                        justify-content: space-between;
                        align-items: center;
                        background-color: rgba($color: #e6e6e6, $alpha: 0.57);
                        margin: .2em 0;

                        .icon-list {
                            display: flex;
                            width: 60%;
                            justify-content: space-evenly;
                        }
                    }
                }
            }
        }

        .end {
            grid-row: 8/9;
            grid-column: 1/4;
            background-color: var(--bg-color);
            height: 100%;
            color: white;
            display: grid;
            grid-template-rows: 1fr 3fr 1fr;
            grid-template-columns: 1fr 14fr 1fr;

            .contact-info {
                grid-row: 2/3;
                grid-column: 2/3;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;
                align-items: center;

                .mail {
                    grid-row: 1/2;
                    grid-column: 1/2;
                    display: flex;
                    width: 60%;
                    align-items: center;
                    justify-content: space-around;

                }

                a {
                    color: white;
                    list-style: none;
                    border: none;
                }

                .phno {
                    grid-row: 1/2;
                    grid-column: 3/4;
                    display: flex;
                    width: 50%;
                    align-items: center;
                    justify-content: space-around;
                }

                .icon-link {
                    grid-row: 1/3;
                    grid-column: 2/3;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;

                    // scale: .8;
                    img {
                        margin-top: 1em;
                        width: 2.5em;
                    }
                }

            }
        }
    }

    .watermark {
        position: relative;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        span {
            position: absolute;
            top: 5em;
            left: -22em;

            &::before {
                content: "arbhasun";
                color: white;
                font-size: 20em;
                opacity: 0.05;
                letter-spacing: .3em;
            }
        }
    }
}

// chrome 29+ specific
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {

    @media screen and (max-width: 768px) {}

    @media only screen and (min-width: 768px) {}

    @media only screen and (min-width: 1050px) {}
}

// firefox
@-moz-document url-prefix() {
    @media screen and (max-width: 768px) {}

    @media only screen and (min-width: 768px) {}

    @media only screen and (min-width: 1050px) {
        section {
            scroll-snap-align: start;
        }

        .about-info {
            scroll-snap-type: y mandatory;

            .intro-myself,
            .passions,
            .skills,
            .end {
                scroll-snap-align: center;
            }
        }


    }
}


// edge specific
@supports (-ms-ime-align:auto) {
    @media screen and (max-width: 768px) {}

    @media only screen and (min-width: 768px) {}

    @media only screen and (min-width: 1050px) {}
}